<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <div id="app">
                <form action="">
                    <div class="col-sm-6">
                        <input v-model="message" type="text" class="form-control">
                    </div>
                </form>

                {{message}}

                <form class='form-check'>
                    <label class="form-check-label">
                        <input v-model="options" type="checkbox" class="form-check-input" name="optionsRadios1" value="option-1">
                        Some text for option 1
                    </label>
                </form>

                <form class='form-check'>
                    <label class="form-check-label">
                        <input v-model="options" type="checkbox" class="form-check-input" name="optionsRadios2" value="option-2">
                        Some text for option 2
                    </label>
                </form>

                <form class='form-check'>
                    <label class="form-check-label">
                        <input v- v-model="options" type="checkbox" class="form-check-input" name="optionsRadios3" value="option-3">
                        Some text for option 3
                    </label>
                </form>
                <h1> {{options.join(", ")}} </h1>
                
            </div>          
        </div>
       
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

       <script>
           let mv = new Vue({
               el:'#app',
               data:{
                    options:[],
                    message:''
               }
           })
       </script>

    </body>
</html>